MYSQL_DATABASE=shopweb1
MYSQL_ROOT_PASSWORD=
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/shopweb1?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

