MYSQL_DATABASE=shopweb1
MYSQL_ROOT_PASSWORD=123456

SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/shopweb1?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=123456

MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
APP_MAIL_FROM=your-email@gmail.com

DOCKER_IMAGE_NAME=your-dockerhub-username/phuongdungshopweb
